asgiref==3.4.1
astroid==2.9.0
attrs==18.1.0
backports.zoneinfo==0.2.1
certifi==2018.4.16
chardet==3.0.4
colorama==0.4.4
Django==3.2.9
django-crispy-forms==1.13.0
django-extensions==3.1.5
dotplus==0.3
graphviz==0.19
idna==2.6
isort==4.3.4
lazy-object-proxy==1.6.0
mccabe==0.6.1
mock==2.0.0
more-itertools==4.1.0
mysqlclient==2.1.0
pbr==4.0.2
platformdirs==2.4.0
pluggy==0.6.0
py==1.5.3
pydot==1.4.2
pydotplus==2.0.2
pylint==2.12.1
pyparsing==3.0.6
pytest==3.5.1
pytz==2021.3
requests==2.18.4
six==1.11.0
sqlparse==0.4.2
toml==0.10.2
typing_extensions==4.0.1
tzdata==2021.5
urllib3==1.22
wrapt==1.13.3
