{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'images/favicon.png' %}"
    />
    <title>Digital Dashboard</title>
    <!-- Custom CSS -->
    <link href="{% static 'css/float-chart.css' %}" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js' %}/1.4.2/respond.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    
    <script src="https://d3js.org/d3.v4.js" charset="utf-8"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  </head>

  <body>
    
   
    
    <div id="main-wrapper">
      
      <aside class="left-sidebar" data-sidebarbg="skin5">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
              <li class="sidebar-item">
                <h4 class="sidebar-link waves-effect waves-dark"> <i class="material-icons">dashboard</i
                  > Data Dash</h4>
              </li>


              {% if user.is_authenticated %}
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark"
                  aria-expanded="false"
                  ><span class="hide-menu"> Welcome {{ user.username }} ({{user.userprofile.user_type}}) </span></a>
              </li>

              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark"
                  href="/dashboard/home"
                  aria-expanded="false"
                  ><i class="material-icons">dashboard</i
                  ><span class="hide-menu">Dashboard </span></a
                >
              </li>
              <!-- <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark"
                  href="/dashboard/accounts/logout"
                  aria-expanded="false"
                  ><i class="material-icons">login</i><span class="hide-menu">Logout </span></a
                >
              </li> -->


              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark"
                  href="javascript:void(0)"
                  aria-expanded="false"
                  ><i class="material-icons">settings</i
                  ><span class="hide-menu">User Settings </span></a    
             
              </li>

              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark"
                  href="/dashboard/accounts/password_change"
                  aria-expanded="false"
                  ><i class="material-icons">login</i><span class="hide-menu">Change Password </span></a
                >
              </li>

              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark"
                  href="/dashboard/speedtest/"
                  aria-expanded="false"
                  ><i class="material-icons">login</i><span class="hide-menu">Speed Test </span></a
                >
              </li>

              {% else %}
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark"
                  href="/dashboard/accounts/login"
                  aria-expanded="false"
                  ><i class="material-icons">login</i><span class="hide-menu">Login </span></a
                >
              </li>
              {% endif %}


              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark"
                  href="/dashboard/wifihotspots"
                  aria-expanded="false"
                  ><i class="material-icons">logout</i><span class="hide-menu">Wifi Hotspots </span></a
                >
              </li>

              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark"
                  href="/dashboard/statcollector"
                  aria-expanded="false"
                  ><i class="material-icons">logout</i><span class="hide-menu">Canadian Statistics </span></a
                >
              </li>
              

              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark"
                  href="/dashboard/accounts/logout"
                  aria-expanded="false"
                  ><i class="material-icons">logout</i><span class="hide-menu">Logout </span></a
                >
              </li>


             
              
            </ul>
          </nav>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>
      
      <div class="page-wrapper">
        
               
           <br>

           <!-- Note the state/province probably needs to be updated based on the Country selected -->
          <div class="content ">
             <div class="container-fluid">
              <h4><strong>Digital Dashboard</strong></h4><br>
                <form method="POST">
                  {% csrf_token %}
                  
                          <div class="form-inline">
                            <div class="form-group" style="margin-right: 15px;">
                              <input type="hidden">Country</input>
                              <select class="form-select" name="country" id="different_countries" onchange=form.submit()>
                                <option disabled selected="true"> -- select an option -- </option>
                                {% if inputcountry == 'usa' %}
                                <option selected="true" value="usa">USA</option>
                                <option value="canada">Canada</option>
                                {% elif inputcountry == 'canada' %}
                                <option selected="true" value="canada">Canada</option>
                                <option value="usa">USA</option>
                                {% else %}
                                <option value="canada">Canada</option>
                                <option value="usa">USA</option>
                                {% endif %}
                                    
                              </select>
                            </div>

                           
                          <div class="form-group" style="margin-right: 15px;">
                            <input type="hidden">State/Province</input>
                            <select name="locations" id="different_locations">
                              <option disabled selected="true"> -- select an option -- </option>
                              {% for item in location_list  %}
                                 {% if inputlocation == item %}
                                 <option selected="true" value="{{item}}">{{ item }}</option>
                                 {% else %}
                                  <option value="{{item}}">{{ item }}</option>
                                 {% endif %}
                              {% endfor %}
                            </select>
                          </div>
                        
                          <button type="submit" class="btn btn-primary btn w-40">Filter</button>
                             

                    </div>
                    
                  </form> 

                 
                <br><br>
                <div class="row">

                  <div class="col-sm-3">
                    <div class="card">
                      <div class="card-header ">
                        <h4 class="card-title">Statistic 1 </h4>
                     </div>
                      <div class="card-body">
                        <h5 class="card-title">Total number of School Districts</h5>
                        <!-- <div id="my_dataviz"></div> -->
                        <h1>{{firststat}}</h1>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="card">
                      <div class="card-header ">
                        <h4 class="card-title">Statistic 2 </h4>
                     </div>
                      <div class="card-body">
                        <h5 class="card-title">Number Of states</h5>
                        <h1>{{secondstat}}</h1>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="card">
                      <div class="card-header ">
                        <h4 class="card-title">Statistic 3 </h4>
                     </div>
                      <div class="card-body">
                        
                        <div class="row">
                          <h5 class="card-title mr-2">Learning Products</h5>
                          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                              Products
                          </button>
                          
                          
                        </div>
                        <h1>{{thirdstat}}</h1>
                        
                        
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">List of Products</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              {% for product in products %}
                              <div class="modal-body">
                                <a href="{{product.url}}">{{product.product_name}}</a>
                              </div>
                              {% endfor %}
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                         <!-- <button class="btn btn-primary">List of Learning Products</button> -->
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <div class="card">
                      <div class="card-header ">
                        <h4 class="card-title">Statistic 4 </h4>
                     </div>
                      <div class="card-body">
                        <h5 class="card-title">Number Of states</h5>
                        <h1>{{secondstat}}</h1>
                      </div>
                    </div>
                  </div>


                
                  <div class="col-sm-12 col-md-12 col-xl-6">
                    <div class="card" id="avgexpenditure">
                      <div class="card-header ">
                        <h4 class="card-title">Average Expenditure per pupil for different states </h4>
                     </div>
                      <div class="card-body align-items-center mx-auto mt-auto mb-auto">
                        
                        <div id="my_dataviz">

                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12 col-md-12 col-xl-6">
                    <div class="card">
                      <div class="card-header ">
                        <h4 class="card-title">Percentage of Locale in All States </h4>
                     </div>
                      <div class="card-body align-items-center mx-auto mt-auto mb-auto" >
                        <div id="my_datadonutviz"></div>
                        
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header ">
                          <h4 class="card-title">Graph of Percentage Access of Black/Hispanic in different States </h4>
                      </div>
                      
                        
                      <div class="card-body align-items-center mx-auto mt-auto mb-auto" >
                          <div id="my_lollipopviz"></div>
                      </div>
                            
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-header ">
                        <h4 class="card-title">Graph of Percentage Access of Black/Hispanic in different States </h4>
                     </div>
                      <div class="card-body align-items-center mx-auto mt-auto mb-auto">
                        <div id="my_databar"></div> 
                      </div>
                    </div>
                  </div>


                  <div class="col-sm-6 col-sm-12 col-md-12 col-xl-6 graphcard">
                    <div class="card">
                      <div class="card-header ">
                        <h4 class="card-title">Average Broadband Access > 200 KBPS </h4>
                     </div>
                      <div class="card-body">
                        <div id="my_datasimpleline"></div> 
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6 col-sm-12 col-md-12 col-xl-6">
                    <div class="card">
                      <div class="card-header ">
                        <h4 class="card-title">Top 10 Products with respect to Engagement Index </h4>
                     </div> 
                      <div class="card-body">
                      <div id="my_datanewbar"></div> 
                      </div>
                    </div>
                  </div>


                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-header ">
                        <h4 class="card-title">Average Expenditure per pupil for different states  </h4>
                     </div>
                      <div class="card-body">
                      <div id="my_datanewverticalbar"></div> 
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-header ">
                        <h4 class="card-title">Percentage of Locale in All States  </h4>
                     </div>
                      <div class="card-body">
                      <div id="my_datamydonutchart"></div> 
                      </div>
                    </div>
                  </div>

                </div>


          <br>

         

        <script>
          

          var data = JSON.parse('{{ mydata | safe }}');
          var margin = {top: 30, right: 30, bottom: 70, left: 60},
          width =  650 - margin.left - margin.right,
          height = 410 - margin.top - margin.bottom;

          // append the svg object to the body of the page
          var svg = d3.select("#my_dataviz")
            .append("svg")
              
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
            .append("g")
              .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");

          // Parse the Data
        
          // X axis
          var x = d3.scaleBand()
            .range([ 0, width ])
            .domain(data.map(function(d) { return d.state; }))
            .padding(0.2);
          svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x))
            .selectAll("text")
              .attr("transform", "translate(-10,0)rotate(-45)")
              .style("text-anchor", "end");

          // Add Y axis
          var y = d3.scaleLinear()
            .domain([0, 22000])
            .range([ height, 0]);
          svg.append("g")
            .call(d3.axisLeft(y));

          // Bars
          svg.selectAll("mybar")
            .data(data)
            .enter()
            .append("rect")
              .attr("x", function(d) { return x(d.state); })
              .attr("y", function(d) { return y(d.expenditure); })
              .attr("width", x.bandwidth())
              .attr("height", function(d) { return height - y(d.expenditure); })
              .attr("fill", "royalblue")


          //Donut graph
          var widthofdonut = 700;
          var heightofdonut = 410;
          var marginfordonut = 5;
          let s = JSON.parse('{{ suburb | safe }}');
          let r = JSON.parse('{{ rural | safe }}');
          let t = JSON.parse('{{ town | safe }}');
          let c = JSON.parse('{{ city | safe }}');
          console.log("value of suburb is", s)
          console.log("value of rural is", r)
          console.log("value of town is", t)
          console.log("value of city is", c)
          var radius = Math.min(widthofdonut, heightofdonut) / 2 - marginfordonut
        

            var svg1 = d3.select("#my_datadonutviz")
              .append("svg")
                .attr("width", widthofdonut)
                .attr("height", heightofdonut)
              .append("g")
                .attr("transform", "translate(" + widthofdonut / 2 + "," + heightofdonut / 2 + ")");

            
            let datafordonut = {suburb: s, rural: r, town:t, city:c}

            // set the color scale
            var colordonut = d3.scaleOrdinal()
              .domain(["suburb", "rural", "town", "city"])
              .range(d3.schemeDark2);

            // Compute the position of each group on the pie:
            var pie = d3.pie()
              .sort(null) // Do not sort group by size
              .value(function(d) {return d.value; })
            var data_ready = pie(d3.entries(datafordonut))

            // The arc generator
            var arc = d3.arc()
              .innerRadius(radius * 0.5)         // This is the size of the donut hole
              .outerRadius(radius * 0.8)
              

            // Another arc that won't be drawn. Just for labels positioning
            var outerArc = d3.arc()
              .innerRadius(radius * 0.9)
              .outerRadius(radius * 0.9)

            // Build the pie chart: Basically, each part of the pie is a path that we build using the arc function.
            svg1
              .selectAll('allSlices')
              .data(data_ready)
              .enter()
              .append('path')
              .attr('d', arc)
              .attr('fill', function(d){ return(colordonut(d.data.key)) })
              .attr("stroke", "white")
              .style("stroke-width", "2px")
              .style("opacity", 0.7)

            // Add the polylines between chart and labels:
            svg1
              .selectAll('allPolylines')
              .data(data_ready)
              .enter()
              .append('polyline')
                .attr("stroke", "black")
                .style("fill", "none")
                .attr("stroke-width", 1)
                .attr('points', function(d) {
                  var posA = arc.centroid(d) // line insertion in the slice
                  var posB = outerArc.centroid(d) // line break: we use the other arc generator that has been built only for that
                  var posC = outerArc.centroid(d); // Label position = almost the same as posB
                  var midangle = d.startAngle + (d.endAngle - d.startAngle) / 2 // we need the angle to see if the X position will be at the extreme right or extreme left
                  posC[0] = radius * 0.95 * (midangle < Math.PI ? 1 : -1); // multiply by 1 or -1 to put it on the right or on the left
                  return [posA, posB, posC]
                })

            // Add the polylines between chart and labels:
            svg1
              .selectAll('allLabels')
              .data(data_ready)
              .enter()
              .append('text')
                .text( function(d) { console.log(d.data.key) ; return d.data.key + ":" + d.data.value } )
                .attr('transform', function(d) {
                    var pos = outerArc.centroid(d);
                    var midangle = d.startAngle + (d.endAngle - d.startAngle) / 2
                    pos[0] = radius * 0.99 * (midangle < Math.PI ? 1 : -1);
                    return 'translate(' + pos + ')';
                
                })
                .style('text-anchor', function(d) {
                    var midangle = d.startAngle + (d.endAngle - d.startAngle) / 2
                    return (midangle < Math.PI ? 'start' : 'end')
                })

              
              var data = JSON.parse('{{ mydata | safe }}');
              var marginline = {top: 10, right: 30, bottom: 30, left: 60},
              widthline = 700 - marginline.left - marginline.right,
              heightline = 400 - marginline.top - marginline.bottom;
// #my_lollipopviz

              // append the svg object to the body of the page
              var svg2 = d3.select("#my_lollipopviz")
                .append("svg")
                  .attr("width", widthline + marginline.left + marginline.right)
                  .attr("height", heightline + marginline.top + marginline.bottom + 45)
                .append("g")
                  .attr("transform",
                        "translate(" + marginline.left + "," + marginline.top + ")");

              // Parse the Data
              
              // X axis
              var x = d3.scaleBand()
                .range([ 0, widthline ])
                .domain(data.map(function(d) { return d.state; }))
                .padding(1);
              svg2.append("g")
                .attr("transform", "translate(0," + heightline + ")")
                .call(d3.axisBottom(x))
                .selectAll("text")
                  .attr("transform", "translate(-10,0)rotate(-45)")
                  .style("text-anchor", "end")
                  

              // Add Y axis
              var y = d3.scaleLinear()
                .domain(d3.extent(data, d => d.expenditure))
                .range([ heightline, 0]);
              svg2.append("g")
                .call(d3.axisLeft(y));

              // Lines
              svg2.selectAll("myline")
                .data(data)
                .enter()
                .append("line")
                  .attr("x1", function(d) { return x(d.state); })
                  .attr("x2", function(d) { return x(d.state); })
                  .attr("y1", function(d) { return y(d.expenditure); })
                  .attr("y2", y(0))
                  .attr("stroke", "grey")

              // Circles
              svg2.selectAll("mycircle")
                .data(data)
                .enter()
                .append("circle")
                  .attr("cx", function(d) { return x(d.state); })
                  .attr("cy", function(d) { return y(d.expenditure); })
                  .attr("r", "4")
                  .style("fill", "#69b3a2")
                  .attr("stroke", "black")
              
          
                // horizontal bar graph
                var data = JSON.parse('{{ top10 | safe }}');
                var margin = {top: 20, right: 30, bottom: 40, left: 100},
                width = 700 - margin.left - margin.right,
                height = 400 - margin.top - margin.bottom;

                // append the svg object to the body of the page
                var svg3 = d3.select("#my_databar")
                  .append("svg")
                    .attr("width", width + margin.left + margin.right)
                    .attr("height", height + margin.top + margin.bottom + 45)
                  .append("g")
                    .attr("transform",
                          "translate(" + margin.left + "," + margin.top + ")");

                
                  // Add X axis
                  var x = d3.scaleLinear()
                    .domain([0, 1200])
                    .range([ 0, width]);
                  svg3.append("g")
                    .attr("transform", "translate(0," + height + ")")
                    .call(d3.axisBottom(x))
                    .selectAll("text")
                      .attr("transform", "translate(-10,0)rotate(-45)")
                      .style("text-anchor", "end");

                  // Y axis
                  var y = d3.scaleBand()
                    .range([ 0, height ])
                    .domain(data.map(function(d) { return d.name; }))
                    .padding(.1);
                  svg3.append("g")
                    .call(d3.axisLeft(y))

                  //Bars
                  svg3.selectAll("myRect")
                    .data(data)
                    .enter()
                    .append("rect")
                    .attr("x", x(0) )
                    .attr("y", function(d) { return y(d.name); })
                    .attr("width", function(d) { return x(d.avg); })
                    .attr("height", y.bandwidth() )
                    .attr("fill", "#69b3a2")

                
                //  // Line graph

                // var margin = {top: 10, right: 30, bottom: 30, left: 60},
                // width = 460 - margin.left - margin.right,
                // height = 400 - margin.top - margin.bottom;

                // // append the svg object to the body of the page
                // var svg4 = d3.select("#my_datasimpleline")
                //   .append("svg")
                //     .attr("width", width + margin.left + margin.right)
                //     .attr("height", height + margin.top + margin.bottom)
                //   .append("g")
                //     .attr("transform",
                //           "translate(" + margin.left + "," + margin.top + ")");

                // //Read the data
                // d3.csv("https://raw.githubusercontent.com/holtzy/data_to_viz/master/Example_dataset/3_TwoNumOrdered_comma.csv",

                //   // When reading the csv, I must format variables:
                //   function(d){
                //     return { date : d3.timeParse("%Y-%m-%d")(d.date), value : d.value }
                //   },

                //   // Now I can use this dataset:
                //   function(data) {

                //     // Add X axis --> it is a date format
                //     const month = ["January","February","March","April","May","June","July","August","September","October","November","December"];
                //     var x = d3.scaleTime()
                //       .domain(d3.extent(data, function(d) { return d.date; }))
                      
                //       .range([ 0, width ])
                      

                //     svg4.append("g")
                //       .attr("transform", "translate(0," + height + ")")
                //       .call(d3.axisBottom(x))
                      

                //     // Add Y axis
                //     var y = d3.scaleLinear()
                //       .domain([0, d3.max(data, function(d) { return +d.value; })])
                //       .range([ height, 0 ]);
                //     svg4.append("g")
                //       .call(d3.axisLeft(y));

                //     // Add the line
                //     svg4.append("path")
                //       .datum(data)
                //       .attr("fill", "none")
                //       .attr("stroke", "steelblue")
                //       .attr("stroke-width", 1.5)
                //       .attr("d", d3.line()
                //         .x(function(d) { return x(d.date) })
                //         .y(function(d) { return y(d.value) })
                //         )

                // }) 
                
                

                
              //   var options = {
              //   series: [{
              //     name: "Desktops",
              //     data: [10, 41, 35, 51, 49, 62, 69, 91, 148, 1]
              // }],
              //   chart: {
              //   height: 350,
              //   type: 'line',
              //   zoom: {
              //     enabled: false
              //   }
              // },
              // dataLabels: {
              //   enabled: false
              // },
              // stroke: {
              //   curve: 'straight'
              // },
              
              // grid: {
              //   row: {
              //     colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
              //     opacity: 0.5
              //   },
              // },
              // xaxis: {
              //   categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct'],
              // }
              // };
              
              // {{ pro | safe }}
              // JSON.parse('{{ mydata | safe }}');
              var e = {{ engo | safe }}
              var prod = {{ pro | safe }}
              
              var states_broadband = {{ stb | safe }}
              var average_broadband = {{ avgb | safe }}

              var states_for_expenditure = {{ st | safe }}
              var expenditure = {{ ex | safe }}
              
              var percentage_of_local = {{ localtype | safe }}
              

               
              var baroptions = {
              series: [{
              data: e,
            }],
              chart: {
              type: 'bar',
              height: 350
            },
            plotOptions: {
              bar: {
                borderRadius: 4,
                horizontal: true,
              }
            },
            dataLabels: {
              enabled: false
            },
            xaxis: {
              categories: prod,
            }
            
            };

            // var chart = new ApexCharts(document.querySelector("#my_datasimpleline"), options);
            var barchart = new ApexCharts(document.querySelector("#my_datanewbar"), baroptions);
            // chart.render();
            barchart.render();




          console.log(average_broadband)
          var optionsline = {
          series: [{
          data: average_broadband,
        }],
          chart: {
          type: 'line',
          height: 350
        },
        stroke: {
          curve: 'stepline',
        },
        dataLabels: {
          enabled: true
        },

        xaxis: {
              categories: states_broadband,
        },
        
        title: {
          text: 'Stepline Chart',
          align: 'left'
        },
        markers: {
          hover: {
            sizeOffset: 4
          }
        }
        };

        var chart = new ApexCharts(document.querySelector("#my_datasimpleline"), optionsline);
        chart.render();




        var verticalbaroptions = {
              series: [{
              data: expenditure,
              name: 'Expenditure',
            }],
              chart: {
              type: 'bar',
              height: 350,
            },
           
            plotOptions: {
              bar: {
                borderRadius: 4,
                
              }
            },
            dataLabels: {
              enabled: false
            },
            xaxis: {
              categories: states_for_expenditure,
            }
            };
            var verticalbarchart = new ApexCharts(document.querySelector("#my_datanewverticalbar"), verticalbaroptions); 
            verticalbarchart.render();
        
            
            console.log(percentage_of_local)
            var donutoptions = {
            series: percentage_of_local,
            chart: {
            type: 'donut',
            height: 364
          },
          labels: ['suburb', 'rural', 'town', 'city'],
          dataLabels: {
          enabled: false
          },
          responsive: [{
            breakpoint: 480,
            
            options: {
              chart: {
                width: 200
              },
              legend: {
                position: 'bottom',
                
              }
            }
          }]
          };

          var donutchart = new ApexCharts(document.querySelector("#my_datamydonutchart"), donutoptions);
          donutchart.render();

          </script>
                         
        

        </div>
            <!-- column -->

            
          </div>
          <!-- ============================================================== -->
          <!-- Recent comment and chats -->
          <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'js/sparkline.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'js/custom.min.js' %}"></script>
    <!--This page JavaScript -->
    <!-- <script src="dist/js/pages/dashboards/dashboard1.js' %}"></script> -->
    <!-- Charts js Files -->
    <script src="{% static 'js/excanvas.js' %}"></script>
    <script src="{% static 'js/jquery.flot.js' %}"></script>
    <script src="{% static 'js/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'js/jquery.flot.time.js' %}"></script>
    <script src="{% static 'js/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'js/jquery.flot.crosshair.js' %}"></script>
    <script src="{% static 'js/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'js/chart-page-init.js' %}"></script>

  </body>
</html>
