{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'images/favicon.png' %}"
    />
    <title>Digital Dashboard</title>
    <!-- Custom CSS -->
    <link href="{% static 'css/float-chart.css' %}" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js' %}/1.4.2/respond.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <![endif]-->
  </head>

  <body>
    
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css' %} -->
    <!-- ============================================================== -->
<!--    <div class="preloader">-->
<!--      <div class="lds-ripple">-->
<!--        <div class="lds-pos"></div>-->
<!--        <div class="lds-pos"></div>-->
<!--      </div>-->
<!--    </div>-->
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    
    <div id="main-wrapper">
      <!-- ============================================================== -->
      <!-- Topbar header - style you can find in pages.scss -->
      <!-- ============================================================== -->
      
      <!-- ============================================================== -->
      <!-- End Topbar header -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <aside class="left-sidebar" data-sidebarbg="skin5">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
              <li class="sidebar-item">
                <h4 class="sidebar-link waves-effect waves-dark"> <i class="material-icons">dashboard</i
                  > App name</h4>
              </li>


              {% if user.is_authenticated %}
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark"
                  aria-expanded="false"
                  ><span class="hide-menu"> Logged in as {{ user.username }} ({{user.userprofile.user_type}}) </span></a>
              </li>
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark"
                  href="/dashboard/accounts/logout"
                  aria-expanded="false"
                  ><i class="material-icons">login</i><span class="hide-menu">Logout </span></a
                >
              </li>


              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark"
                  href="javascript:void(0)"
                  aria-expanded="false"
                  ><i class="material-icons">settings</i
                  ><span class="hide-menu">User Settings </span></a    
             
              </li>

              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark"
                  href="/dashboard/accounts/password_change"
                  aria-expanded="false"
                  ><i class="material-icons">login</i><span class="hide-menu">Change Password </span></a
                >
              </li>

              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark"
                  href="/dashboard/speedtest/"
                  aria-expanded="false"
                  ><i class="material-icons">login</i><span class="hide-menu">Speed Test </span></a
                >
              </li>

              {% else %}
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark"
                  href="/dashboard/accounts/login"
                  aria-expanded="false"
                  ><i class="material-icons">login</i><span class="hide-menu">Login </span></a
                >
              </li>
              {% endif %}
              
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark"
                  href="/dashboard"
                  aria-expanded="false"
                  ><i class="material-icons">dashboard</i
                  ><span class="hide-menu">Dashboard </span></a
                >
              </li>

             
              
            </ul>
          </nav>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>
      <!-- ============================================================== -->
      <!-- End Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Page wrapper  -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Dashboard</h4>
              <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                   
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div> -->
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <!-- <div class="container-fluid"> -->
          <!-- ============================================================== -->
          <!-- Sales Cards  -->
          <!-- ============================================================== -->
          <!-- <div class="row">
            <!-- Column -->
            <!-- <div class="col-md-6 col-lg-2 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-cyan text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-view-dashboard"></i>
                  </h1>
                  <h6 class="text-white">Dashboard</h6>
                </div>
              </div>
            </div>
            <!-- Column -->
            <!-- <div class="col-md-6 col-lg-4 col-xlg-3">
              <div class="card card-hover">
                <div class="box bg-success text-center">
                  <h1 class="font-light text-white">
                    <i class="mdi mdi-chart-areaspline"></i>
                  </h1>
                  <h6 class="text-white">Graphs</h6>
                </div>
              </div> -->
            <!-- Column -->

            <!-- Column -->
          




                  <!-- <form class="form-inline justify-content-center" method="POST">
                    <div class="form-group mb-2">
                      {% csrf_token %}
                        {{form.as_p}}  
                    
              
                                                       
                    </div>  
                    <button class="btn btn-primary btn-sm" style="width: 150px; height: 38px;" type="submit">Submit Query</button>
                                       
                  </form> -->
               
           <br>

           <!-- Note the state/province probably needs to be updated based on the Country selected -->
          <div class="content ">
             <div class="container-fluid">
              <h4><strong>Digital Dashboard</strong></h4><br>
                  <div class="row">
                      <!-- {% csrf_token %}
                      <div class="col-sm-6">
                        {{form.as_p}}
                      </div> -->
                      {% for field in form  %}
                        <div class="col-sm-1">
                          {{ field.label }} {{ field }} 
                        </div>
                      {% endfor %}  
                  </div>
                  <button type="submit" class="btn btn-primary btn mt-4 w-50">Filter</button>
      
                 
                <br><br>
                <div class="row">

                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card-header ">
                        <h4 class="card-title">Statistic 1 </h4>
                     </div>
                      <div class="card-body">
                        <!-- <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        <!-- <div id="my_dataviz"></div> -->
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card-header ">
                        <h4 class="card-title">Statistic 2 </h4>
                     </div>
                      <div class="card-body">
                        <!-- <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a> -->
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card-header ">
                        <h4 class="card-title">Statistic 3 </h4>
                     </div>
                      <div class="card-body">
                        <!-- <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a> -->
                      </div>
                    </div>
                  </div>


                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-header ">
                        <h4 class="card-title">Graph of Percentage Access of Black/Hispanic in different States </h4>
                     </div>
                      <div class="card-body align-items-center mx-auto mt-auto mb-auto">
                        <!-- <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        <div id="my_dataviz"></div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-header ">
                        <h4 class="card-title">Graph of Percentage Access of Black/Hispanic in different States </h4>
                     </div>
                      <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                    </div>
                  </div>




                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-header ">
                        <h4 class="card-title">Graph of Percentage Access of Black/Hispanic in different States </h4>
                     </div>
                      <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        <div id="my_dataviz"></div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="card">
                      <div class="card-header ">
                        <h4 class="card-title">Graph of Percentage Access of Black/Hispanic in different States </h4>
                     </div>
                      <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                    </div>
                  </div>
                </div>


          <br>

          <!-- <div class="content ">
            <div class="container-fluid">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8"> 
                        <div class="card text-center">
                            <div class="card-header ">
                                <h4 class="card-title">Graph of Percentage Access of Black/Hispanic in different States </h4>
                            </div>
                            <div class="card-body">
                              <div class="myChart">
                                <canvas id="Chart1"></canvas>
                              </div>
                            </div>
                         </div>
                     </div>

                    <div class="col-md-8">
                      <div class="card">
                          <div class="card-header ">
                              <h4 class="card-title">Expenditure per pupil in Different States</h4>
                              <p> Note the value of 0 indicates that no Kaggle data was found for these specific states.</p>
                          </div>
                          <div class="card-body align-items-center mx-auto mt-auto mb-auto">
                            <div class="myChart">
                              <div id="my_dataviz"></div>
                            </div>
                          </div>
                          
                      </div>
                   </div>

                   
                 </div>
                      
                  {% if district %}
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header ">
                                <h4 class="card-title">Graph of District Id's and County connections in <span id="userinput"></span></h4>
                            </div>
                            <div class="card-body" >
                              <div class="myChart">
                                <canvas id="Chart2"></canvas>
                              </div>
                            </div>
                            
                        </div>
                    </div>
                  {% endif %}


                </div>              
             </div>
           </div> -->

    
        
         

        <script>

          // const ctx3 = document.getElementById('Chart3').getContext('2d');
          // var x = JSON.parse('{{ st | safe }}')
          // var y = JSON.parse('{{ ex | safe }}')
          // const Chart3 = new Chart(ctx3, {
          //     type: 'bar',
          //     data: {
          //         labels: x,
          //         datasets: [{
          //             label: 'Expenditure in dollars',
          //             data: y,
          //             backgroundColor: [
          //                 'rgba(255, 99, 132, 0.2)',
          //                 'rgba(54, 162, 235, 0.2)',
          //                 'rgba(255, 206, 86, 0.2)',
          //                 'rgba(75, 192, 192, 0.2)',
          //                 'rgba(153, 102, 255, 0.2)',
          //                 'rgba(255, 159, 64, 0.2)'
          //             ],
          //             borderColor: [
          //                 'rgba(255, 99, 132, 1)',
          //                 'rgba(54, 162, 235, 1)',
          //                 'rgba(255, 206, 86, 1)',
          //                 'rgba(75, 192, 192, 1)',
          //                 'rgba(153, 102, 255, 1)',
          //                 'rgba(255, 159, 64, 1)'
          //             ],
          //             borderWidth: 1
          //         }]
          //     },
          //     options: {
                  
          //     }
          // });
         
          // const ctx1 = document.getElementById('Chart1').getContext('2d');
          // var label = JSON.parse('{{ state | safe }}')
          // var p = JSON.parse('{{ perc | safe }}')
          // const Chart1 = new Chart(ctx1, {
          //     type: 'bar',
          //     data: {
          //         labels: label,
          //         datasets: [{
          //             label: 'Percentage Access',
          //             data: p,
          //             backgroundColor: [
          //                 'rgba(255, 99, 132, 0.2)',
          //                 'rgba(54, 162, 235, 0.2)',
          //                 'rgba(255, 206, 86, 0.2)',
          //                 'rgba(75, 192, 192, 0.2)',
          //                 'rgba(153, 102, 255, 0.2)',
          //                 'rgba(255, 159, 64, 0.2)'
                    
          //             ],
          //             borderColor: [
          //                 'rgba(255, 99, 132, 1)',
          //                 'rgba(54, 162, 235, 1)',
          //                 'rgba(255, 206, 86, 1)',
          //                 'rgba(75, 192, 192, 1)',
          //                 'rgba(153, 102, 255, 1)',
          //                 'rgba(255, 159, 64, 1)'
                          
          //             ],
          //             borderWidth: 1
          //         }]
          //     },
          //     options: {
          //         scales: {
          //           y: {
          //                 beginAtZero: true
          //             }
                      
          //         }

          //     }
          // });

          // const ctx = document.getElementById('Chart2').getContext('2d');
          // document.getElementById("userinput").innerHTML = document.getElementById('id_state').value
          // var d = JSON.parse('{{ district | safe }}')
          // var c = JSON.parse('{{ county | safe }}')
          // const Chart2 = new Chart(ctx, {
          //     type: 'bar',
          //     data: {
          //         labels: d,
          //         datasets: [{
          //             label: 'County Connections Percentage',
          //             data: c,
          //             backgroundColor: [
          //                 'rgba(255, 99, 132, 0.2)',
          //                 'rgba(54, 162, 235, 0.2)',
          //                 'rgba(255, 206, 86, 0.2)',
          //                 'rgba(75, 192, 192, 0.2)',
          //                 'rgba(153, 102, 255, 0.2)',
          //                 'rgba(255, 159, 64, 0.2)'
          //             ],
          //             borderColor: [
          //                 'rgba(255, 99, 132, 1)',
          //                 'rgba(54, 162, 235, 1)',
          //                 'rgba(255, 206, 86, 1)',
          //                 'rgba(75, 192, 192, 1)',
          //                 'rgba(153, 102, 255, 1)',
          //                 'rgba(255, 159, 64, 1)'
          //             ],
          //             borderWidth: 1
          //         }]
          //     },
          //     options: {
          //         scales: {
          //             y: {
          //                 beginAtZero: true
          //             }
          //         }
          //     }
          // });





          // var data = JSON.parse('{{ mydata | safe }}');
          // console.log("The data is", data);
          // var margin = {top: 50, right: 50, bottom: 50, left: 50},
          // width = 860 - margin.left - margin.right,
          // height = 500 - margin.top - margin.bottom;

          // // append the svg object to the body of the page
          // const svg = d3.select("#my_dataviz")
          //     .append('svg')
          //     .attr('width', width - margin.left - margin.right)
          //     .attr('height', height - margin.top - margin.bottom)
          //     .attr('viewBox', [0, 0, width, height]);
          
          // // X axis
          // var x = d3.scaleBand()
          //   .range([ 0, width ])
          //   .domain(data.map(function(d) { return d.state; }))
          //   .padding(0.2);
          // svg.append("g")
          //   .attr("transform", `translate(0,${height - margin.bottom})`)
          //   .call(d3.axisBottom(x))
          //   .selectAll("text")
          //     .attr("transform", "translate(-10,0)rotate(-45)")
          //     .style("text-anchor", "end");

          // // Add Y axis
          // var y = d3.scaleLinear()
          //   .domain([0, 20000])
          //   .range([ height - margin.bottom, margin.top ]);
          // svg.append("g")
          //   .call(d3.axisLeft(y));

          //   svg.selectAll("mybar")
          //     .data(data)
          //     .enter()
          //     .append("rect")
          //       .attr('x', function(d) { return x(d.state); })
          //       .attr("y", function(d) { return y(d.expenditure); })
          //       .attr("width", x.bandwidth())
          //       .attr("height", function(d) { return y(0) - y(d.expenditure); })
          //       .attr("fill", "royalblue")


          var data = JSON.parse('{{ mydata | safe }}');
          var margin = {top: 30, right: 30, bottom: 70, left: 60},
          width = 560 - margin.left - margin.right,
          height = 300 - margin.top - margin.bottom;

          // append the svg object to the body of the page
          var svg = d3.select("#my_dataviz")
            .append("svg")
              // .attr("width", width + margin.left + margin.right)
              // .attr("height", height + margin.top + margin.bottom)
              .attr("preserveAspectRatio", "xMinYMin meet")
              .attr("viewBox", "0 0 600 300")
            .append("g")
              .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");

          // Parse the Data
        
          // X axis
          var x = d3.scaleBand()
            .range([ 0, width ])
            .domain(data.map(function(d) { return d.state; }))
            .padding(0.2);
          svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x))
            .selectAll("text")
              .attr("transform", "translate(-10,0)rotate(-45)")
              .style("text-anchor", "end");

          // Add Y axis
          var y = d3.scaleLinear()
            .domain([0, 22000])
            .range([ height, 0]);
          svg.append("g")
            .call(d3.axisLeft(y));

          // Bars
          svg.selectAll("mybar")
            .data(data)
            .enter()
            .append("rect")
              .attr("x", function(d) { return x(d.state); })
              .attr("y", function(d) { return y(d.expenditure); })
              .attr("width", x.bandwidth())
              .attr("height", function(d) { return height - y(d.expenditure); })
              .attr("fill", "royalblue")
        

          </script>
                         
          
                              
                  






          <!-- ============================================================== -->
          <!-- Sales chart -->
          <!-- ============================================================== -->

          <!-- ============================================================== -->
          <!-- Sales chart -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- Recent comment and chats -->
          <!-- ============================================================== -->

              <!-- Card -->
              <!-- card -->

              <!-- card new -->

            </div>
            <!-- column -->

            
          </div>
          <!-- ============================================================== -->
          <!-- Recent comment and chats -->
          <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Page wrapper  -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'js/sparkline.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'js/custom.min.js' %}"></script>
    <!--This page JavaScript -->
    <!-- <script src="dist/js/pages/dashboards/dashboard1.js' %}"></script> -->
    <!-- Charts js Files -->
    <script src="{% static 'js/excanvas.js' %}"></script>
    <script src="{% static 'js/jquery.flot.js' %}"></script>
    <script src="{% static 'js/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'js/jquery.flot.time.js' %}"></script>
    <script src="{% static 'js/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'js/jquery.flot.crosshair.js' %}"></script>
    <script src="{% static 'js/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'js/chart-page-init.js' %}"></script>
  </body>
</html>
