/.idea/misc.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_2022-02-11_8_32_p_m__[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_2022-02-23_6_22_p_m__[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_2022-02-11_8_32_p_m___Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_2022-02-23_6_22_p_m___Default_Changelist_.xml
/.idea/vcs.xml

# Project exclude paths
/myenv/