{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Favicon icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'images/favicon.png' %}"
    />
    <title>Digital Dashboard</title>
    <!-- Custom CSS -->
    <link href="{% static 'css/float-chart.css' %}" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js' %}/1.4.2/respond.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    
  </head>

<body>
    
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css' %} -->
    <!-- ============================================================== -->
<!--    <div class="preloader">-->
<!--      <div class="lds-ripple">-->
<!--        <div class="lds-pos"></div>-->
<!--        <div class="lds-pos"></div>-->
<!--      </div>-->
<!--    </div>-->
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    
    <div id="main-wrapper">
      <!-- ============================================================== -->
      <!-- Topbar header - style you can find in pages.scss -->
      <!-- ============================================================== -->
      
      <!-- ============================================================== -->
      <!-- End Topbar header -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Left Sidebar - style you can find in sidebar.scss  -->
      <!-- ============================================================== -->
      <aside class="left-sidebar" data-sidebarbg="skin5">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
          <!-- Sidebar navigation-->
          <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
              <li class="sidebar-item">
                <h4 class="sidebar-link waves-effect waves-dark"> <i class="material-icons">dashboard</i
                  > Data Zone</h4>
              </li>


              {% if user.is_authenticated %}
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark"
                  aria-expanded="false"
                  ><span class="hide-menu"> Welcome {{ user.username }} ({{user.userprofile.user_type}}) </span></a>
              </li>

              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark"
                  href="/dashboard/home"
                  aria-expanded="false"
                  ><i class="material-icons">dashboard</i
                  ><span class="hide-menu">Dashboard </span></a
                >
              </li>
              <!-- <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark"
                  href="/dashboard/accounts/logout"
                  aria-expanded="false"
                  ><i class="material-icons">login</i><span class="hide-menu">Logout </span></a
                >
              </li> -->


              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark"
                  href="javascript:void(0)"
                  aria-expanded="false"
                  ><i class="material-icons">settings</i
                  ><span class="hide-menu">User Settings </span></a    
             
              </li>

              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark"
                  href="/dashboard/accounts/password_change"
                  aria-expanded="false"
                  ><i class="material-icons">login</i><span class="hide-menu">Change Password </span></a
                >
              </li>

              

              {% else %}
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark"
                  href="/dashboard/accounts/login"
                  aria-expanded="false"
                  ><i class="material-icons">login</i><span class="hide-menu">Login </span></a
                >
              </li>
              {% endif %}
              
              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark"
                  href="/dashboard/statcollector"
                  aria-expanded="false"
                  ><i class="material-icons">logout</i><span class="hide-menu">Canadian Statistics </span></a
                >
              </li>


              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark"
                  href="/dashboard/graphgenerator"
                  aria-expanded="false"
                  ><i class="material-icons">dashboard</i><span class="hide-menu">Graph Generator </span></a
                >
              </li>

              <li class="sidebar-item">
                <a
                  class="sidebar-link waves-effect waves-dark"
                  href="/dashboard/accounts/logout"
                  aria-expanded="false"
                  ><i class="material-icons">logout</i><span class="hide-menu">Logout </span></a
                >
              </li>
    
              
            </ul>
          </nav>
        </div>
      </aside>

      <div class="page-wrapper">        
        
        <div class="content ">
            <div class="container-fluid">
             <h4><strong>Digital Dashboard</strong></h4><br>
                               
               

              <a href="/dashboard/home">Return to Dashboard Overview</a>
              <h2>Welcome to Interactive Dashboard </strong></h2>
              <br><br>
             <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                        <div class="card-header ">
                            <!-- <h4 class="card-title">Special Education Enrolment by Exceptionality  </h4> -->
                        </div>
                            <iframe width="100%" height="700px" src="https://dv-vd.cloud.statcan.ca/71-607-x2021027_en"></iframe>
                        
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="card">
                        <div class="card-header ">
                            <!-- <h4 class="card-title">Special Education Enrolment by Exceptionality  </h4> -->
                        </div>
                        <div class="card-body">
                            <iframe width="100%" height="700px" src="https://dv-vd.cloud.statcan.ca/71-607-x2019023_en"></iframe>
                        </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="card">
                        <div class="card-header ">
                            <!-- <h4 class="card-title">Special Education Enrolment by Exceptionality  </h4> -->
                        </div>
                        <div class="card-body">
                            <iframe width="100%" height="700px" src="https://dv-vd.cloud.statcan.ca/71-607-x2019019_en"></iframe>
                        </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="card">
                        <div class="card-header ">
                            <!-- <h4 class="card-title">Special Education Enrolment by Exceptionality  </h4> -->
                        </div>
                        <div class="card-body">
                            <iframe width="100%" height="700px" src="https://dv-vd.cloud.statcan.ca/71-607-x2020019_en"></iframe>
                        </div>
                        </div>
                    </div>


                 </div>
               </div> 


         <br>

 
</body>
